# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# База данных
*.db
*.sqlite
*.sqlite3

# Переменные окружения
.env
.env.local
.env.*.local

# Тесты и кэш
.pytest_cache/
.coverage
htmlcov/

# Виртуальное окружение
.venv/
venv/
ENV/